<html>
  <head>
    <title>Capturing SNMP Values During Load Tests</title>
    <link rel="stylesheet" type="text/css" href="./style.css" />
  </head>
<body>

After [capturing and analyzing response times](http://andreas-simon.blogspot.de/2014/03/analyzing-jmeter-results-with-r.html) I need some monitoring data to correlate the results to.
As far as I could find out, JMeter does not provide means to capture system attributes like CPU, memory, and I/O utilization.
So I set off to build something for myself.
My application servers [run a SNMP daemon](http://andreas-simon.blogspot.de/2014/02/setting-up-zenoss-for-monitoring-grails.html).
So I wanted to query SNMP system data from this service.

## Installing Required Packages

<div class="code_block">
<div class="code_header">/install-packages.sh</div>
<%= `cat install-packages.sh | ./extract_region.rb all | grep --invert-match "region" | pygmentize -l bash -f html` %>
</div>

## Capturing Data
<div class="code_block">
<div class="code_header">/capture-snmp.sh</div>
<%= `cat capture-snmp.sh | ./extract_region.rb all | grep --invert-match "region" | pygmentize -l bash -f html` %>
</div>

## Capturing Data Regularly

[<img src="https://raw.github.com/andreassimon/blog-performance-reporting-with-R/master/response-times.scaled.png" />](https://raw.github.com/andreassimon/blog-performance-reporting-with-R/master/response-times.png)

## Plotting the Data

As always, the sources are available via [GitHub](https://github.com/andreassimon/blog-monitoring-snmp).

## References

 - [Net-SNMP](http://www.net-snmp.org/)

</body>
</html>

<!--
  vim:ft=markdown
-->
